.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

h3 {
  text-align: center;
}

.categories {
  font-family: helvetica, sans-serif;
  margin: 20px;
}

body {
  background-image: url('../img/background_image.png');
}
body, a {
  font-family: 'Actor', sans-serif;
  color: #faebd7;
}

.post_info {
  color: #faebd7;
}