<div class="container">

  <form action="/add" method ="post">
    <select name="category_id">
      <option value=1>Apartments</option>
      <option value=2>Vehicles</option>
      <option value=3>Household Goods</option>
      <option value=4>Sporting Goods</option>
      <option value=5>Groceries</option>
    </select><br><br>

    <label for "title">Title:</label><br>
    <input type="text" name="title"><br><br>

    <label for "description">Description:</label><br>
    <textarea cols="40" rows="10"  name="description"></textarea><br><br>

    <label for "price">Price:</label><br>
    <input type="text" name="price"><br><br>

    <label for "email">E-Mail:</label><br>
    <input type="text" name="email"><br><br><br>
    <input type="submit" value="Add your post"><br><br>
    <%if @error%>
      <p class= "error">Complete all fields. Price must be a number.</p>
    <%end%>
  </form>
</div>