<div class="container">
  <h2 class="list"><%=@category_name%></h2><br>
  <%@posts.each do |post| %>
    <p class="list"><a href="/posts/<%=post.id%>"><%= post.title %></a> ($<%=post.price%>)</p>
  <%end%>
</div>