<div class="container">
  <h1>All Categories</h1>
  <p>Here are the categories</p>
  <ul>
  <% @category_names.each do |category| %>
  <li><%= category %></li>
  <% end %>
</ul>
<a href="/">Go home!</a>
</div>