<div id="homebutton" class="container">
<form action="/" method="get">
  <input type="submit" value="Back to Home">
</form>

<p>Your post has been added to emilylist! Here's your private url:</p>
<%= @url %>

</div>