<div class="container">
  <form action="/posts" method="post">
  description: <input type="text" name="description">
  price: <input type="text" name="price">
  email: <input type="text" name="email">
  <input type="submit" value="Submit">
  </form>
</div>