<div class= "container">
   <% @allposts.each do |post|%>
   <p><a href = "http://localhost:9393/posts/<%= post.id %>"> <%= post.description %> </a></p>
   <% end %>
  <form action = "/posts" method="post">
    <p>Create a post</p>
    email: <input type="email" name="email" value="a@a.com"><br>
    name: <input type="text" name="name"><br>
    description: <input type="text" name="description">
    <div class="special">
    category: <input type="text" name = "category_id" value = "1">
    </div>
    <br>
    <input type="submit" value = "Create Post">
   </form>

    <a href= "http://localhost:9393/">home</a>
  </div>



