<div class="container">
  <h1>Welcome to Elliot's listings</h1>
  <h2>categories</h2>
  <ul>
    <%@categories.each do |category|%>
      <li><%= link_to_category category %></li>
    <%end%>
  </ul>
  <a href="/create-categories">create a new category here</a>
</div>

