<h3>Craigslist Jr.</h3>
<div class="container">
  <% @categories.each do |id, title| %>
  <div class="categories">
    <% url = "/categories/#{id}" %>
    <a href=<%= url %>><%= title %></a>
  </div>
  <% end %>
</div>
