<div class="container">
  <h1>Welcome to emilylist!</h1>

  <form action="/auto" method="get">
    <input type="submit" value="Autos">
  </form>
  <br>
  <form action="/furniture" method="get">
    <input type="submit" value="Furniture">
  </form>
  <br>
  <form action="/housing" method="get">
    <input type="submit" value="Housing">
  </form>
  <br>
  <form action="/pets" method="get">
    <input type="submit" value="Pets">
  </form>

</div>
