<h1>Welcome to Craigslist!</h1>

<a href='http://localhost:9393/new'>Add New Post!</a>
<div class="container">
<ul>
<% @categories.each do |cat| %>
<li><a href='http://localhost:9393/<%= cat.name %>'> <%= cat.name %></a></li>
<% end %>
</ul>
</div>
