<h1>Successful Post!!</h1>
Your Secret Edit URL is....
<% edit_url = "/edit/#{@edit_url}" %>
<a href=edit_url><%= "http://localhost:9393" + edit_url %></a>

Your Post may be publicly viewed at:
(public url here)

(picture of cat)