<div class="container">
  <h1>Edit your listing!</h1>
  <form method="post">
    Category:<br/>
    <% @category_names.each do |category| %>
    <input type="radio" name="category" value="<%= category %>"><%= category %><br/>
    <% end %><br/>
    Title: <input type="text" name="title"><br/>
    Location: <input type="text" name="location"><br/>
    Price: <input type="text" name="price"><br/>
    Listing: <input type="text" name="listing"><br/>
    Email: <input type="text" name="email"><br/>
    <input type="submit">
  </form>

<a href="/">Go home!</a>
</div>