<div id="homebutton" class="container">
<form action="/" method="get">
  <input type="submit" value="Back to Home">
</form>


<li><h2><%= @posts.title %></h2><br>
    <%= @posts.content %><br>
    price: $<%= @posts.price %><br>
    email: <%= @posts.email %><br>
</li><br>


</div>