
<div id="homebutton" class="container">
<form action="/" method="get">
  <input type="submit" value="Back to Home">
</form>

<p>Either your url was typed incorrectly or you are a bad person. >:(</p>
</div>